version: '3.3'
services:
  modsecurity:
    image: vshn/modsecurity:latest
    ports:
      - "8081:80"
    volumes:
      - ./configurations/modsecurity.conf:/etc/modsecurity/modsecurity.conf:ro
    networks:
      - webnet

  nginx:
    image: nginx:latest
    ports:
      - "443:443"  # Port pour HTTPS
      - "80:80"    # Port pour HTTP (redirection vers HTTPS)
    volumes:
      - ./configurations/nginx.conf:/etc/nginx/nginx.conf:ro
      - /home/mcreus/pong/ponghub.app_ssl_certificate.cer:/etc/nginx/ssl/ponghub.app_ssl_certificate.cer
      - /home/mcreus/pong/ponghub.app_private_key.key:/etc/nginx/ssl/ponghub.app_private_key.key
    depends_on:
      - modsecurity
      - django
    networks:
      - webnet

  django:
    build: ./django/ft_transcendence
    environment:
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
    ports:
      - "8000:8000"
    volumes:
      - ./django/ft_transcendence:/app
    networks:
      - webnet

  vault:
    image: hashicorp/vault:latest
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    volumes:
      - vault_data:/vault/file
      - ./configurations/config.hcl:/vault/config/config.hcl
    environment:
      #VAULT_DEV_ROOT_TOKEN_ID: ${ROOT_ID}
      #VAULT_DEV_LISTEN_ADDRESS: ${LISTEN_ADDR}
      VAULT_ADDR: ${VAULT_ADDR}
    entrypoint: vault server -config=/vault/config/config.hcl
    networks:
      - webnet

networks:
  webnet:

volumes:
  vault_data:
