<!DOCTYPE html>
{% include 'ruban.html' %}
{% include 'friendBar.html' %}
<div id="main" class="vertical-center">
	<h1>Ajouter un ami</h1>
	<h2>Liste de vos amis actuels :</h2>
		<div class="amis">
			{% for ami in amis %}
		    	<div class="ami"> <img src="{{ ami.profile_photo.url }}" class="profilFriend" alt="Profil">
		    	<button class="friend-name" onclick="goTo('other_profile/{{ ami.username }}')">{{ ami.username }}</button>
		    	</div>
			{% endfor %}
		</div>
	<form id="add_friendForm" method="post" onsubmit="submitForm('add_friend'); return false">
		{% csrf_token %}
		{{ form.as_p }}
		<div>{{ error }}</div>
		<button class="buttonClassique" type="button" id="add_friend" onclick="submitForm('add_friend')">Ajouter</button>
	</form>
	<button class="buttonClassique" onclick="goTo('')">Retour écran titre</button>
</div>
