<div class="sidebar" id="sidebar">
    <div class="friend-list" id="friendList">
        {% for ami in user.amis.all %}
                <div class="friend">
                	<button class="friend-name" onclick="goTo('other_profile/{{ ami.username }}')">{{ ami.username }}</button>
                    <img src="{{ ami.profile_photo.url }}" alt="{{ ami.username }}">
                </div>
        {% endfor %}
    </div>
</div>
<button class="addfriendbutton" onclick="goTo('add_friend')">+</button>
