<div id="main" class="vertical-center">
	<div class="containerHistoric">
        {% for match in matchs %}
		{% if match.winner == request.user.username %}
		<div class="historicResult" style="background-color: rgba(0,176,176,0.5)">
			<div>{{match.player1_name}} V.S {{match.player2_name}}</div>
			<div>{{match.player1_score}} : {{match.player2_score}}</div>
		</div>
		{% else %}
		<div class="historicResult" style="background-color: rgba(255,154,0,0.5)">
			<div>{{match.player1_name}} V.S {{match.player2_name}}</div>
			<div>{{match.player1_score}} : {{match.player2_score}}</div>
		</div>
		{% endif %}
        {% endfor %}
        </div>
</div>
