<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/page/page.js"></script>
	<title>PongHub</title>
	<link rel="stylesheet" href="{% static 'css/mainPage.css' %}"></link>
	<link rel="stylesheet" href="{% static 'css/anim.css' %}"></link>
	<link rel="stylesheet" href="{% static 'css/friendBar.css' %}"></link>
	<style>
		@import url('https://fonts.cdnfonts.com/css/chalkduster');
		@import url('https://fonts.cdnfonts.com/css/street');
		@import url('https://fonts.cdnfonts.com/css/petiote')
	</style>
</head>

<body id="body" style="background-color:#001213">
	{% include 'ruban.html' %}
	<div id="main" class="vertical-center">
		<div>
			<img src="../static/images/mainLogo.png" class="mainImage"></img>
		</div>
		<div class="centre-content">
			<button onclick="goTo('salon')" class="buttonClassique">Pong !</button>
		</div>
	</div>
	{% include 'live_chat.html' %}
	{% include 'friendBar.html' %}
	<form id="resultForm" method="post" style="hidden:true">{% csrf_token %}</form>
	<script type="text/javascript" src="../static/js/AI.js"></script>
	<script type="text/javascript" src="../static/js/ManualPlayer.js"></script>
	<script type="text/javascript" src="../static/js/Collision.js"></script>
	<script type="text/javascript" src="../static/js/Draw.js"></script>
	<script type="text/javascript" src="../static/js/GeneratePage.js"></script>
	<script type="text/javascript" src="../static/js/Pong.js"></script>
	<script type="text/javascript" src="../static/js/Form.js"></script>
	<script type="text/javascript" src="../static/js/Animation.js"></script>
	<script type="text/javascript" src="../static/js/WebSocket.js"></script>
	<script>
		page({ hashbang: true });
		var userNavigation = true;

		window.addEventListener('popstate', () => {
			console.log('popstate : ', userNavigation)
			let adjustedHash = window.location.hash.replace(/^#!#/, '#');
			if (userNavigation)
				navigateTo(adjustedHash.substring(1));
			userNavigation = true; // Réinitialiser pour la prochaine fois
		});
		
		function goTo(view) {
			userNavigation = false; // navigation est déclenchée par le script
			navigateTo(view);
		}
	</script>
</body>

</html>
