<!DOCTYPE html>
{% load static %}
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://unpkg.com/page/page.js"></script>
		<title>PongHub</title>
		<link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
		<style>
			canvas {
				border: 1px solid #000;
				display: block;
				margin: 20px auto;
			}
			.center {
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</head>

	<body id="body">
		

		<div id="main">
			<div id="profilContainer" class="profil-container">
				{% if user.is_authenticated %}
					<span id="pseudoJoueur">
						{{ request.user }}
						<button onclick="navigateTo('logout')">Se deconnecter</button></p></span>
				{% else %}
				<span id="pseudoJoueur">
					Non connecté
					<button onclick="navigateTo('login')">Connexion</button></p></span>
				{% endif %}
				<img id="profilImage" src="../static/images/no_image.png" alt="Image de Profil"/>
			</div>
			<div class="centre-content">
				<h1 id="titreSite">PongHub</h1>
				<button onclick="navigateTo('salon')" class="boutonPlay">Pong</button>
			</div>
			<button onclick="navigateTo('signup')">Inscription</button>
			<button onclick="navigateTo('login')">Connexion</button>
		</div>
		<script type="text/javascript" src="../static/js/AI.js"></script>
		<script type="text/javascript" src="../static/js/ManualPlayer.js"></script>
		<script type="text/javascript" src="../static/js/Collision.js"></script>
		<script type="text/javascript" src="../static/js/Draw.js"></script>
		<script type="text/javascript" src="../static/js/GeneratePage.js"></script>
		<script type="text/javascript" src="../static/js/Pong.js"></script>
		<script type="text/javascript" src="../static/js/Login.js"></script>
		<script>
			page({ hashbang: true });
			page('/', () => navigateTo(''));
			page('/signup', () => navigateTo('signup.html'));
			page('/login', () => navigateTo('login.html'));
			window.addEventListener('popstate', () => {
      			navigateTo(window.location.hash.substring(1));
			});
		</script>
	</body>
</html>
