{% if user.is_authenticated %}
<div id="liveChat" class="liveChat">
	<div class="chatArrow" style="width:100%">
		<button id="chatDrawer" class="buttonInvisible" style="width: 100%" type="button">
			<div style="display:flex; justify-content:center">
				<label for="chatDrawer">
					<div id="arrow" class="arrow"></div>
				</label>
				<div id="notif" class="notif"></div>
			</div>
		</button>
	</div>
	<div id="chat" class="chat">
	</div>
	<form id="formMessage" style="width:100%"><input type="text" name="message" class="boxMessage"></input></form>
</div>
<script>
	let checkbox = document.getElementById('chatDrawer');
	setChatCheckBox(checkbox);
	let chatMessage = document.getElementById('formMessage');
	setChatMessage(chatMessage);

	function setChatCheckBox(checkbox)
	{
		if (!checkbox)
			return ;
		checkbox.addEventListener('click', (event) => {
			const chat = document.getElementById('liveChat');
			const arrow = document.getElementById('arrow');
			if (!chat.classList.contains('show'))
			{
				chat.classList.add('show');
				arrow.classList.add('down');
				if (document.getElementById('notif').classList.contains('active'))
					document.getElementById('notif').classList.remove('active');
			} else {
				chat.classList.remove('show');
				arrow.classList.remove('down');
			}
		})
	}

	function setChatMessage(chatMessage)
	{
		if (!chatMessage)
			return ;
		chatMessage.addEventListener('submit', (event) => {
			event.preventDefault()
			sendMessage(event.target.message.value)
			chatMessage.reset();
		})
	}
</script>
{% endif %}
