{% include 'ruban.html' %}
<div id="main" class="vertical-center" data-num="{{ match.id }}">
    <div id="player_1">{{ match.player1_name }}</div>
    <div>vs</div>
    <div id="player_2">{{ match.player2_name }}</div>

    {% if not match.played %}
    {% if type == 'not_mine' %}
    {% elif type == "local" %}
    <div><button onclick="init('tournament')" class="boutonPlay">Jouer le match</button></div>
    {% else %}
    <div><button onclick="goTo('tournament_online/{{ match.id }}')" class="buttonClassique">Jouer le match</button></div>
    {% endif %}
    {% endif %}
    <div><button onclick="goTo('tournaments/{{ match.origin.id }}')" class="buttonClassique">Retour au tournoi</button>
    </div>
</div>
<form id="resultForm" method="post" style="hidden:true">{% csrf_token %}</form>