<!DOCTYPE html>
<html>
<head>
    <title>Profil Utilisateur</title>
</head>
<body>
    <h2>Profil de {{ user.username }}</h2>
    <img src="{{ user.profile_photo.url }}" alt="Photo de profil" class="profile-photo">
    <p><strong>Pseudo :</strong> {{ user.username }}</p>
    <p><strong>Email :</strong> {{ user.email }}</p>

    <button class="buttonClassique" onclick="goTo('profile/username')">Modifier le pseudo</button>
    <button class="buttonClassique" onclick="goTo('profile/email')">Modifier l'email</button>
    <button class="buttonClassique" onclick="goTo('profile/password')">Modifier le mot de passe</button>
    <button class="buttonClassique" onclick="goTo('profile/image')">Modifier la photo de profil</button>

</body>
</html>
