<div id="ruban" class="ruban">
	<left><button class="buttonInvisible" onclick="goTo('')"><img src="../static/images/no_image.png" id="profilImage"/></button></left>
	<right id="profilContainer">
		{% if user.is_authenticated %}
			{{ request.user }}
			<button onclick="goTo('logout')" class="button">Se deconnecter</button>
			<img id="profilImage" src="../static/images/no_image.png"></img>
		{% else %}
			<button onclick="goTo('login')" class="button">Connexion</button></p></span>
		{% endif %}
	</right>
</div>
