<div id="ruban" class="ruban">
	<left><button class="buttonInvisible" onclick="goTo('')">
		<div class="logo">
			<div class="rect" id="top-orange"></div>
			<div class="rect" id="bot-orange"></div>
			<div class="rect" id="top-blue"></div>
			<div class="rect" id="bot-blue"></div>
			<div class="ball"></div>
		</div>
	</button></left>
	<right id="profilContainer">
		{% if user.is_authenticated %}
			<div class="pseudo">{{ request.user }}</div>
			<div class="dropdown">
				<img src="{{ request.user.profile_photo.url }}" id="profilImage" alt="Profil"/>
				<div class="dropdown-child">
					<button onclick="goTo('profile')">Profil</button>
					<button onclick="goTo('add_friend')">Amis</button>
					<button onclick="goTo('historic')">Historique</button>
					<button onclick="goTo('logout')">Deconnexion</button>
				</div>
			</div>
		{% else %}
			<button onclick="goTo('login')" class="buttonConnexion">Connexion</button></p></span>
		{% endif %}
	</right>
</div>
