<div class="centre-content">
	{% if user.is_authenticated %}
		<div><button onclick="goTo('')" class="buttonClassique">Partie rapide</button></div>
		<div><button onclick="goTo('')" class="buttonClassique">Tournois</button></div>
	{% else %}
		<div><button class="buttonInactive" title="Nécessite d'être connecté.">Partie rapide</button></div>
		<div><button class="buttonInactive" title="Nécessite d'être connecté.">Tournois</button></div>
	{% endif %}
	<div><button onclick="goTo('local')" class="buttonClassique">Partie local</button></div>
</div>
