{% include 'ruban.html' %}
<div id="main" class="vertical-center">
    <h1>Liste des tournois</h1>
    <ul>
        {% for tournament in tournaments %}
        <li>
            <button onclick="goTo('tournaments/{{ tournament.id }}')">Name: {{ tournament.name }}</button><br>
            Active: {{ tournament.active }} <br>
            Temps pour s'inscrire: {{ tournament.time_to_subscribe }} minutes <br>
            Joueurs enregistrés: {{ tournament.number_registered }} / {{ tournament.max_player }} <br>
        </li><br>
        {% endfor %}
    </ul>
    <button onclick="goTo('tournaments/create')">Creer un nouveau tournois</button></p>
</div>