{% include 'ruban.html' %}
<div id="main" class="vertical-center">
    <h1>Update du tounoi {{ tournament.name }}</h2>
        {% if not tournament.running %}
        <form id="launchForm" method="post">
            {% csrf_token %}
            <button type="button" onclick="submitForm('launch', '{{ tournament.id }}')">Lancer le tournoi</button>
        </form>
        {% endif %}
    <div><button onclick="goTo('tournaments/{{ tournament.id }}')" class="buttonClassique">Retour</button></div>
</div>