
<div id="main" class="vertical-center">
    <h1>Liste des tournois</h1>
    <ul>
        {% for tournament in tournaments %}
        <li>
            <button onclick="goTo('tournaments/{{ tournament.id }}')" class="buttonClassique">{{ tournament.name}}</button><br>
            Proprietaire du tounoi: {{ tournament.owner.username }}<br>
            {% if tournament.time_left_in_minutes > 0 %}
            Inscription ouverte: oui<br>
            Temps restant pour s'inscrire: {{ tournament.time_left_in_minutes }} minutes <br>
            {% else %}
            Inscription ouverte: non<br>
            {% endif %}
            Joueurs enregistrés: {{ tournament.number_registered }} / {{ tournament.max_player }} <br>
        </li><br>
        {% endfor %}
    </ul>
    <button onclick="goTo('tournaments/create')" class="buttonClassique">Créer un nouveau tournois</button></p>
</div>