{% include 'ruban.html' %}
<div id="main" class="vertical-center">
    <h2>Tournament creation</h2>
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <form id="tournamentForm" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="button" id="tournament" onclick="submitForm('tournament')" class="buttonClassique">Creer le tournois</button>
    </form>

<div><button onclick="goTo('tournaments')" class="buttonClassique">Liste des tournois</button></div>
</div>