{% include 'ruban.html' %}
<div id="main" class="vertical-center">
    <h1>tournois {{ tournament.name }}</h1>

    Name: {{ tournament.name }} <br>
    {% if tournament.time_left_in_minutes > 0 %}
    Inscription ouverte: oui<br>
    Temps restant pour s'inscrire: {{ tournament.time_left_in_minutes }} minutes <br>
    {% else %}
    Inscription ouverte: non<br>
    {% endif %}
    {% if tournament.running %}
    Tournoi en cours<br>
    {% endif %}
    Joueurs enregistrés: {{ tournament.number_registered }} <br>
    Nombre maximum de joueurs: {{ tournament.max_player }} <br>
    Joueurs enregistrés:
    <ul>
        {% for player in tournament.players_registered.all %}
        <li>{{ player.username }}</li>
        {% endfor %}
    </ul>
    <div><button onclick="goTo('tournaments')" class="buttonClassique">Liste des tournois</button></div>

    {% if tournament.owner == request.user %}
    <div><button onclick="goTo('tournaments/{{ tournament.id }}/update')" class="buttonClassique">Update</button></div>
    {% else %}
        {% if tournament.subscribe_active %}
            {% if request.user not in tournament.players_registered.all %}
                <form id="subscribeForm" method="post">
                {% csrf_token %}
                <button type="button" onclick="submitForm('subscribe', '{{ tournament.id }}')">S'inscrire</button>
                </form>
            {% else %}
                <form id="subscribeForm" method="post">
                {% csrf_token %}
                <button type="button" onclick="submitForm('subscribe', '{{ tournament.id }}')">Se desinscrire</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
</div>