<!DOCTYPE html>
<html>
<head>
    <title>Mettre à jour la photo de profil</title>
</head>
<body>
    <h2>Mettre à jour la photo de profil</h2>
    <form id="update_imageForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="buttonClassique" type="button" id="update_image" onclick="submitForm('update_image')">Mettre à jour</button>
    </form>
    <button class="buttonClassique" onclick="goTo('profile')">Retour au Profil</button>
</body>
</html>
