<!DOCTYPE html>
<html>
<head>
    <title>Modifier le Mot de Passe</title>
</head>
<body>
    <h2>Modifier votre mot de passe</h2>
    <form id="update_passwordForm" method="post" onsubmit="submitForm('update_password'); return false">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="buttonClassique" type="button" id="update_password" onclick="submitForm('update_password')">Mettre à jour</button>
    </form>
    <button class="buttonClassique" onclick="goTo('profile')">Retour au Profil</button>
</body>
</html>
