<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>PongHub</title>
	<link rel="stylesheet" href="../static/css/mainPage.css">
	<style>
		canvas {
			border: 1px solid #000;
			display: block;
			margin: 20px auto;
		}
		.center {
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</head>
<body id="body">


<div id="profilContainer" class="profil-container">
	<span id="pseudoJoueur">PseudoJoueur</span>
    <img id="profilImage" src="../static/images/no_image.png" alt="Image de Profil"/>
</div>

<div id="main">

	<div class="centre-content">
		<h1 id="titreSite">PongHub</h1>
		<button id="boutonPlay">Jouer</button>
	</div>


<button onclick="navigateTo('signup')">Inscription</button>
<button onclick="navigateTo('login')">Connexion</button>
</div>

<div id="signupContainer" style="display:none;"> 
</div>

<div id="loginContainer" style="display:none;">  
</div>

<div id="profileUpdateContainer" style="display:none;">
</div>

<div id="pageGame"></div>
<script type="text/javascript" src="../static/js/LoadForm.js"></script>
<script type="text/javascript" src="../static/js/AI.js"></script>
<script type="text/javascript" src="../static/js/ManualPlayer.js"></script>
<script type="text/javascript" src="../static/js/Collision.js"></script>
<script type="text/javascript" src="../static/js/Draw.js"></script>
<script type="text/javascript" src="../static/js/GeneratePage.js"></script>
<script type="text/javascript" src="../static/js/pong.js"></script>

<script>
	function navigateTo(view) {
		// Masquer toutes les sections
		document.getElementById('main').innerHTML = '';

		loadForm(`${view}`)
		// Charger le contenu de la vue spécifiée
	// 	fetch(`${view}.html`)
	// 		.then(response => response.text())
	// 		.then(data => {
	// 			document.getElementById('content').innerHTML = data;
	// 		});
	 }

</script>

</body>
</html>
