@keyframes Loading {
	from {
		opacity: 0.0;
	}
	to {
		opacity: 1.0;
	}
}

@keyframes iddle1 {
	48% {
		transform: translate(0px, 0px) rotate(45deg);
	}
	51% {
		transform: translate(-2px, -1px) rotate(25deg);
	}
	53% {
		transform: translate(-2px, -1px) rotate(45deg);
	}
	55% {
		transform: translate(-2px, -1px)) rotate(65deg);
	}
	58% {
		transform: translate(0px, 0px) rotate(45deg);
	}
}

@keyframes iddle2 {
	50% {
		transform: translate(0px, 0px) rotate(-45deg);
	}
	53% {
		transform: translate(-2px, 1px) rotate(-25deg);
	}
	55% {
		transform: translate(-2px, 1px) rotate(-45deg);
	}
	57% {
		transform: translate(-2px, 1px)) rotate(-65deg);
	}
	60% {
		transform: translate(0px, 0px) rotate(-45deg);
	}
}

@keyframes iddle3 {
	52% {
		transform: translate(0px, 0px) rotate(-45deg);
	}
	55% {
		transform: translate(2px, -1px) rotate(-25deg);
	}
	57% {
		transform: translate(2px, -1px) rotate(-45deg);
	}
	59% {
		transform: translate(2px, -1px)) rotate(-65deg);
	}
	62% {
		transform: translate(0px, 0px) rotate(-45deg);
	}
}

@keyframes iddle4 {
	54% {
		transform: translate(0px, 0px) rotate(45deg);
	}
	57% {
		transform: translate(2px, 1px) rotate(25deg);
	}
	59% {
		transform: translate(2px, 1px) rotate(45deg);
	}
	61% {
		transform: translate(2px, 1px)) rotate(65deg);
	}
	64% {
		transform: translate(0px, 0px) rotate(45deg);
	}
}

@keyframes pageout {
	0% {
		opacity: 1.0;
		top: 50%;
		transform: translate(0px, -50%);
	}
	100% {
		opacity: 0.0;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@keyframes pagein {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

@keyframes divout {
	0% {
		opacity: 1.0;
		transform: translateX(0px);
	}
	100% {
		opacity: 0.2;
		transform: translateX(-100%);
	}
}

@keyframes divin {
	0% {
		opacity: 0.0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1.0;
		transform: translateX(0px);
	}
}

@keyframes teamShow {
	0% {
		opacity: 0.0;
		width: 20%;
	}
	10% {
		opacity: 1.0;
		width: 90%;
	}
	100% {
		opacity: 1.0;
		width: 100%;
	}
}

@keyframes out {
	0% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.0;
	}
}

@keyframes out20 {
	0% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.2;
	}
}

@keyframes in {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

@keyframes in50 {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1.0;
	}
}

@keyframes decount {
	0% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.1;
	}
}

@keyframes goalR {
	0% {
		background: linear-gradient(to left, rgba(80,80,80,0.8) 50%, rgba(255,154,0,1) 50%) right;
		background-size: 200% 100%;
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		background: linear-gradient(to left, rgba(80,80,80,0.8) 50%, rgba(255,154,0,1) 50%) left;
		background-size: 200% 100%;
		transform: rotate(0deg);
	}
}

@keyframes goalL {
	0% {
		background: linear-gradient(to right, rgba(80,80,80,0.8) 50%, rgba(0,176,176,1) 50%) left;
		background-size: 200% 100%;
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	100% {
		background: linear-gradient(to right, rgba(80,80,80,0.8) 50%, rgba(0,176,176,1) 50%) right;
		background-size: 200% 100%;
		transform: rotate(0deg);
	}
}

@keyframes goalBall1 {
	0% {
		size: 1;
		opacity: 1.0;
	}
	100% {
		size: 5;
		opacity: 0.0;
	}
}

@keyframes goalBall2 {
	0% {
		size: 5;
		opacity: 0.0;
	}
	100% {
		size: 1;
		opacity: 1.0;
	}
}
