body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #f0f0f0;
	color: white;
	animation-duration: 3s;
	animation-name: Loading;
	overflow-x: hidden;
}

canvas {
	border: 1px solid white;
	display: block;
	margin: 20px auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.vertical-center {
	margin: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}

.ruban {
	height: 70px;
	width: 100%;
	align-items: center;
	background: linear-gradient(90deg, rgba(0,176,176,1) 0%, rgba(0,18,19,1) 40%, rgba(0,18,19,1) 60%, rgba(255,154,0,1) 100%);
	font-family: Arial, sans-serif;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
}

.ruban right {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	padding-right: 20px;
}

.ruban left {
	display: flex;
	justify-content: center;
	margin-right: auto;
	padding-left: 20px;
}

.centre-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.config-content {
	top: 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.player-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.sous-player-blue {
	margin: 20px;
	color: rgba(0,176,176,1);
}

.sous-player-orange {
	margin: 20px;
	color: rgba(255,154,0,1);
}

.buttonConnexion {
	font-size: 16px;
	color: white;
	background-color: rgba(0,176,176,1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100px;
	Height: 34px;
}

.buttonConnexion:hover {
	background-color: rgba(255,154,0,1);
}

.buttonClassique {
	color: white;
	background-color: rgba(0,176,176,1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.buttonClassique:hover {
	background-color: rgba(255,154,0,1);
}

.buttonInvisible {
	background: transparent;
	border: none;
	cursor: pointer;
}

.buttonInactive {
	color: white;
	background-color: rgba(50,50,50,1);
	border: none;
	border-radius: 5px;
}

#titreSite {
	text-align: center;
	margin-top: 50px;
}

.bouton {
	padding: 10px 20px;
	font-size: 20px;
	color: white;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.bouton:hover {
	background-color: #F056b3;
}

.boutonPlay {
	padding: 10px 20px;
	font-size: 20px;
	color: black;
	background-color: white;
	border: solid white 2px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s ease;
}

.boutonPlay:hover {
	background-color: black;
	color: white;
}

.profil-container {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	margin: 10px;
}

#profilImage {
	top: 50%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#pseudoJoueur {
	font-family: Arial, sans-serif;
}


.dropdown {
	position: relative;
	display: block;
}

.dropdown-child {
	display: none;
	min-width: 100%;
	position: absolute;
	z-index: 100;
}

.dropdown-child button{
	margin-top: 2px;
	right: 0;
	width: 100%;
	color: black;
	background-color: white;
	border: solid white 2px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s ease;
}

.dropdown-child button:hover {
	background-color: black;
	color: white;
}

.dropdown:hover .dropdown-child {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: -30px;
	z-index: 101;
}

.logo{
	width: 140px;
	height: 70px;
	position: relative;
	transition: transform 0.5s ease-in-out;
}

.logo:hover {
	transform: rotate(360deg);
}

.rect {
	width: 21px;
	height: 11px;
	border-radius: 20%;
	border: 2px solid black;
	position: absolute;
}

.pseudo {
	margin-right: 15px;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	font-size: 32px;
}

#top-blue{
	top: 14px;
	left: 40px;
	background: rgba(0,176,176,1);
	transform: rotate(45deg);
	animation: iddle1 10s ease infinite;
}

#bot-blue{
	bottom: 14px;
	left: 40px;
	background: rgba(255,154,0,1);
	transform: rotate(-45deg);
	animation: iddle2 10s ease infinite;
}

#top-orange {
	top: 14px;
	right: 40px;
	background: rgba(255,154,0,1);
	transform: rotate(-45deg);
	animation: iddle3 10s ease infinite;
}

#bot-orange {
	bottom: 14px;
	right: 40px;
	background: rgba(255,154,0,1);
	transform: rotate(45deg);
	animation: iddle4 10s ease infinite;
}

.ball {
	position: absolute;
	top: 28px;
	left: 63px;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
	border: 2px solid black;
}

.versus {
	width: 100%;
	font-size: 250%;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 1.0;
	z-index: 1;
}

.victory {
	margin: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 30%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	font-size: 500%;
}

.parallelogramLeft {
	height: 50px;
	transform: skew(-20deg);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	border: 2px solid white;
	opacity: 1.0;
	margin: 2px;
	width: 50%;
	padding-right: 10px;
	background: linear-gradient(90deg, rgba(50,50,50,0.8) 0%, rgba(0,176,176,0.8) 100%);
}

.parallelogramRight {
	height: 50px;
	transform: skew(-20deg);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	border: 2px solid white;
	opacity: 1.0;
	margin: 2px;
	width: 50%;
	padding-left: 10px;
	background: linear-gradient(90deg, rgba(255,154,0,0.8) 0%, rgba(50,50,50,0.8) 100%);
}

@media screen and (min-width: 1200px) {
	.mainImage {
		width: 1200px;
		height: 1200px;
	}
	
	.buttonClassique {
		font-size: 26px;
		width: 220px;
		Height: 55px;
		margin: 12px;
	}
	
	.buttonInactive {
		font-size: 26px;
		width: 220px;
		Height: 55px;
		margin: 12px;
	}
}

@media screen and (max-width: 1199px) and (min-width: 992px){
	.mainImage {
		width: 800px;
		height: 800px;
	}
	
	.buttonClassique {
		font-size: 18px;
		width: 180px;
		Height: 45px;
		margin: 9px;
	}
	
	.buttonInactive {
		font-size: 18px;
		width: 180px;
		Height: 45px;
		margin: 9px;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px){
	.mainImage {
		width: 650px;
		height: 650px;
	}
	
	.buttonClassique {
		font-size: 16px;
		width: 160px;
		Height: 40px;
		margin: 8px;
	}
	
	.buttonInactive {
		font-size: 16px;
		width: 160px;
		Height: 40px;
		margin: 8px;
	}
}

@media screen and (max-width: 767px) and (min-width: 576px){
	.mainImage {
		width: 500px;
		height: 500px;
	}
	
	.buttonClassique {
		font-size: 14px;
		width: 140px;
		Height: 35px;
		margin: 7px;
	}
	
	.buttonInactive {
		font-size: 14px;
		width: 140px;
		Height: 35px;
		margin: 7px;
	}
}

@media screen and (max-width: 575px){
	.mainImage {
		width: 450px;
		height: 450px;
	}
	
	.buttonClassique {
		font-size: 18px;
		width: 120px;
		Height: 30px;
		margin: 6px;
	}
	
	.buttonInactive {
		font-size: 18px;
		width: 120px;
		Height: 30px;
		margin: 6px;
	}
}
